{% capture theme %}
  {% if page.layout == 'home' %}
    dark
  {% else %}
    light
  {% endif %}
{% endcapture %}

<app-bar theme="{{theme | trim }}" class="bar fixed" unresolved>
  <a href="/docs/start/intro.html" class="paper-button {% if page.navgroup == 'docs'%}active{% elsif page.navgroup == 'start' %}active{% endif %}" borderless sink>Start</a>
  <a href="/docs/elements/" class="paper-button {% if page.navgroup == 'elements' %}active{% endif %}" borderless sink>Docs</a>
  <a href="/resources/faq.html" class="paper-button {% if page.navgroup == 'resources' %}active{% endif %}" borderless sink>Resources</a>
   <a href="//blog.antha-lang.org" target="_blank" class="paper-button" borderless sink>Blog</a>
</app-bar>
